
- var text= "Показать Все(Object.keys(arr).length)"
- var a 
.reviews
  .container
    h3.reviews__h3 Отзывы:
    .reviews-content
      each elem in customerInfo
        .review-item
          .customer
            +pictureNumber(elem.num)
            .customer__name #{elem.name}
            .customer__rang #{elem.rang}
            .customer__rate
              +picture('icons', 'stars-group')
            .customer__summary
              +picture('icons', 'checkbox')
            p.customer__summary-reviews Супер! Я бы заказал#{a} съемку снова! 
            .review-main
              p.review-main__p #{elem.review}
              p.review-main__date #{elem.date}
            //-if elem.gender == "female"
                a= "a"
              else
                a= "b"   
    .reviews-show
      block showAll
      
