
- var text= "Показать Все" 
.reviews
  .container
    h3.reviews__h3 Отзывы:
    .reviews__content.reviews-list
      each elem in customerInfo
        .review-item
          .customer
            +pictureCustomer(elem.num)
            .customer__name #{elem.name}
            .customer__rang #{elem.rang}
            .customer__rate
              +picture('icons', 'stars-group')
            .customer__summary
              +picture('icons', 'checkbox')
            p.customer__summary-reviews 
              if elem.gender == "female"
                p.customer__summary-reviews= "Супер! Я бы заказала съемку снова!"
              else if elem.gender == "male"
                p.customer__summary-reviews= "Супер! Я бы заказал съемку снова!"
              else
                p.customer__summary-reviews= "Супер! Закажу съемку снова!"
            .review-main
              p.review-main__p #{elem.review}
              p.review-main__date #{elem.date}   
    .reviews__show-more
      .reviews-show__content
        span.open-scr= "Показать Все (" + customerInfo.length + ")"
