
mixin picture(directory, name)  
    img(src="./assets/img/" + directory + '/' + name + '.png', class=name + "-img", alt=name)
mixin pictureGallery(num)
   img.gallery__img(src="./assets/img/gallery/pic" + num + ".png", class="img-gallery" + num, alt="fotoGallery" + num) 
mixin pictureCustomer(num)  
    img.customer__img(src="./assets/img/customers/user" + num + ".png", class="img-user" + num, alt="customer" + num)
mixin yandexPopup(num, title, text)
    li.yandexmap-popup__list
          .yandexmap-popup__num #{num}
          .yandexmap-popup__discr
            p.yandexmap-popup__title #{title}
            p.yandexmap-popup__text #{text}    
mixin socialLink(net)
    li.footer-social__li
        a.footer-social__a(href="#")
           img(src="./assets/img/icons/" + net + '.png', class=net + "-img", alt=net)      