
extends ../layout/main
block variables
  - var offerList = [{name: "clock", p: "3 часа съемки"},{name: "photocamera", p: "Более 50 фотографий"},{name: "local", p: "Москва"},{name: "chat", p: "Готовы ответить на любые вопросы"}];
  - var interval = [{time:"15:00 - 18:00", cost:"1500₽"}, {time:"19:00 - 22:00", cost:"1500₽"}];
block showAll
  .show-all.show-all__content
    if text === "Читать еще"
      a.show-all__text(href="#") #{text}
      +picture('icons', 'arrow')
    else 
      +picture('icons', 'arrow')
      a.show-all__text(href="#") #{text}
      +picture('icons', 'arrow')
block manyReviews
  .many-reviews.many-reviews__content
    +picture('icons', 'cup')
    .many-reviews__high-rating Более <b>50</b> отзывов с оценкой 
    +picture('icons', 'stars-group')(class="many-reviews__stars")
block autorAvatar
  .autor-avatar
    +picture('main', 'autor')
    p.autor-avatar__name Марина Иванова
    p.autor-avatar__range Фотограф
    a.autor-avatar__seemore(href="#") Показать больше информации о фотографе
//-block reviews
  .review-item
        .customer
          +pictureNumber(num)
          .customer__name #{name}
          .customer__rang #{rang}
          .customer__rate
            +picture('icons', 'stars-group')
            .customer__summary
              +picture('icons', 'checkbox')
              p.customer__summary-reviews Супер! Я бы заказала съемку снова!
        .review-main
          p.review-main__p #{review}
          p.review-main__date #{date}
//-- var customerInfo [{
    num: "1",
    name: "Валерия Антонова",
    rang: "Арт-директор",
    review: "Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!"
    date: "27 Апреля, 2019г."
  },{
    num: "2",
    name: "Виталий Петров",
    rang: "Фотограф",
    review: "Восторг! :) Очень понравилось :) Захватили последний теплый, солнечный октябрьский день :) Впечатлило всё: сам вертолет, взлет, полёт, приземление. Организация полёта отличная. Спасибо!"
    date: "19 Апреля, 2019г."
  },{
    num: "3",
    name: "Джим Керри",
    rang: "Фотограф",
    review: "Круто-круто-круто!!! Отмечали мой ДэРэ. Отлично провели время!!! Кстати закуски были вкусными и сытными))Мы с собой ничего не брали. Сами много фоткались,поэтому воспоминания обалденные!!!)) А еще нам всем напечатали по сертификату воздухоплавателя, правда некоторые ленятся за ним съездить))) Но все равно приятно. Короче, Презентстар – проверено. Оценка: пять!"
    date: "11 Апреля, 2019г."
  },{
    num: "4",
    name: "Валерия Антонова",
    rang: "Арт-директор",
    review: "Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!"
    date: "27 Апреля, 2019г."
  },{
    num: "5",
    name: "Виталий Петров",
    rang: "Фотограф",
    review: "Восторг! :) Очень понравилось :) Захватили последний теплый, солнечный октябрьский день :) Впечатлило всё: сам вертолет, взлет, полёт, приземление. Организация полёта отличная. Спасибо!"
    date: "19 Апреля, 2019г."
  },{
    num: "6",
    name: "Джим Керри",
    rang: "Фотограф",
    review: "Круто-круто-круто!!! Отмечали мой ДэРэ. Отлично провели время!!! Кстати закуски были вкусными и сытными))Мы с собой ничего не брали. Сами много фоткались,поэтому воспоминания обалденные!!!)) А еще нам всем напечатали по сертификату воздухоплавателя, правда некоторые ленятся за ним съездить))) Но все равно приятно. Короче, Презентстар – проверено. Оценка: пять!"
    date: "11 Апреля, 2019г."
  }
 ]
